extends layout

block content
  .navigation
  .top-banner.home
  img.main(src='/img/home/03_cards.png')
  .swoosh.first-swoosh
  img.main(src='/img/home/05_quote.png')
  .tweets
  img.main(src='/img/home/07_coupon.png')
  .swoosh
  img.footer(src='/img/05_footer.png')
  .click
    a(href="/blog") Article HERE!! ->
